<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423333058295-9dm3728qoke32gqf5d519innmr0dssie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423333058295-9dm3728qoke32gqf5d519innmr0dssie</string>
	<key>API_KEY</key>
	<string>AIzaSyB3cP2OGaYZP96Dpxb9RjJz48Jq0xVHfEk</string>
	<key>GCM_SENDER_ID</key>
	<string>423333058295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalFinancialManagement</string>
	<key>PROJECT_ID</key>
	<string>luxfinance-93617</string>
	<key>STORAGE_BUCKET</key>
	<string>luxfinance-93617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423333058295:ios:fccf846ecdbaafb3c825f2</string>
</dict>
</plist>